includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src/
    level: 5
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::(members|emailGroups|sentRecipients)\(\)#'
